<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 text-center">
            <p class="lead error-title">404 content not found</p>
            <a asp-controller="Profile" asp-action="Index">Redirect back to dashboard</a>
        </div>
    </div>
</div>