<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 text-center">
            <p class="lead">
                <span><i style="color: burlywood;" class="fas fa-box-open"></i></span> Content not found
            </p>
        </div>
    </div>
</div>