@model RegisterVM

@{
    ViewBag.Title = "Sign up";
}

<div class="home-page-layout">
    <div class="home-page-box">

        <h1>Sign up</h1>
        <p class="lead">No hassle. No fees.</p>

        <form asp-controller="Home" asp-action="Register" method="post">

            <div asp-validation-summary="ModelOnly" class="validation-summary"></div>

            <div class="form-group text-left">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="invalidFormSubmission"></span>
            </div>

            <div class="form-group text-left">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="invalidFormSubmission"></span>
            </div>

            <div class="form-group text-left">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="invalidFormSubmission"></span>
                <small class="form-text text-muted">Must be at least 6 characters and include at least 1 digit.</small>
            </div>

            <input type="submit" class="btn btn-primary" value="Sign up" />

        </form>

        <hr />
        <a asp-controller="Home" asp-action="Index">Sign in</a>

    </div>
</div>