@{
    ViewBag.Title = "About";
}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">

            <div class="about-box col-lg-6">

            </div>
            <div class="aboutcol-lg-6">

            </div>

        </div>
    </div>
</div>