@model AgendaVM

<a asp-controller="Agenda" asp-action="Edit" asp-route-id="@Model.Id" class="list-group-item list-group-item-light list-group-item-action mb-2">
    <div class="agenda-list-item">
        <p class="lead lead-no-margin">@Model.Title</p>
    </div>
</a>