@model EditAgendaIndexVM

@{
    ViewBag.Title = "Edit Agenda";
}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">

            <div class="row">
                <!-- Edit Agenda -->
                <div class="col-lg-6">

                    <p class="lead lead-no-margin">Edit Agenda</p>
                    <div class="card mt-3">
                        <div class="card-body">

                            <form asp-controller="Agenda" asp-action="Edit" method="post">

                                <div class="form-group">
                                    <label>Title</label>
                                    <input asp-for="Title" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label>Deadline</label>
                                    <input asp-for="Deadline" class="form-control">
                                </div>

                                <input type="submit" class="btn btn-outline-warning" value="Save" />
                                <a role="button" class="btn btn-outline-danger" asp-controller="Agenda" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

                            </form>

                        </div>
                    </div>

                    <br />
                    <p class="lead">Agenda Items</p>
                    <div id="@Model.Id" class="itemsContainer"></div>

                </div>

                <!-- Add Items -->
                <div class="col-lg-6">

                    <p class="lead lead-no-margin">Add Agenda Item</p>
                    <div class="card mt-3">
                        <div class="card-body">

                            <div class="form-group">
                                <label for="descriptionInput">Description</label>
                                <input type="text" class="form-control" id="descriptionInput">
                            </div>

                            <div class="form-group">
                                <label for="categorySelect">Category</label>
                                <select class="form-control" id="categorySelect">
                                    <option selected>None</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option>@category</option>
                                    }
                                </select>
                            </div>

                            <button id="@Model.Id" class="addItem btn btn-success">Add</button>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

@section localScript {
    <script src="~/js/edit_agenda.js"></script>
}