@{ 
    ViewBag.Title = "Edit Agenda";
}

<div class="container-fluid">
    <div class="row">

        <!-- Edit Agenda -->
        <div class="col-6">

        </div>

        <!-- Add Items -->
        <div class="col-6">

        </div>

    </div>
</div>