@model List<ArchivesVM>

@{
    ViewBag.Title = "Archives";
}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">

            <ul class="list-group">
                @foreach (var archive in Model)
                {
                    <li class="list-group-item list-group-item-action agenda-card-header mb-3">
                        <div>
                            <h4>@archive.Title</h4>
                            <small class="text-muted">
                                <span style="font-weight: bold;">Created</span>: @archive.CreatedAt.Value.ToString("d MMMM, yyyy")
                            </small>
                            <br />
                            <small class="text-muted">
                                <span style="font-weight:bold;">Archived</span>: @archive.ArchivedDate.Value.ToString("d MMMM, yyyy")
                            </small>
                        </div>
                        <div>
                            <p class="lead lead-no-margin">@String.Format($"{archive.CompletedItemsCount}/{archive.TotalItemsCount} ({archive.Ratio}%)")</p>
                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>