@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{
    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">

                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Agenda" asp-action="Index">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Category" asp-action="Index">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Profile" asp-action="Index">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Profile" asp-action="Edit">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Sign out</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
}