@model DashboardVM

@{
    ViewBag.Title = "Dashboard";
}

<h1>Hello @Model.Alias!</h1>
<p class="lead">Ready to check off a few items?</p>
<div id="container"></div>

@section localScript{
    <script src="~/js/dashboard.js"></script>
}