<p>Profile - Index</p>

<div>
    <a asp-controller="Category" asp-action="Index">My Categories</a>
    <a asp-controller="Category" asp-action="Create">Create Category</a>
    <a asp-controller="Account" asp-action="Logout">Sign out</a>
</div>