@model DashboardVM

@{
    ViewBag.Title = "Dashboard";
}

<h1 class="display-4">Hello @Model.Alias!</h1>
<p class="lead">Ready to get your life under control?</p>
<div id="container"></div>

@section localScript{
    <script src="~/js/dashboard.js"></script>
}