@model RegisterVM

@{
    ViewBag.Title = "Sign up";
}

<p>Sign up</p>

<form asp-controller="Account" asp-action="Register" method="post">

    <div asp-validation-summary="ModelOnly" class="invalidModel"></div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <span asp-validation-for="UserName" class="invalidFormSubmission"></span>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="invalidFormSubmission"></span>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" class="invalidFormSubmission"></span>
        <input asp-for="Password" class="form-control" />
        <small class="form-text text-muted">Must be at least 6 characters and include at least 1 digit.</small>
    </div>

    <input type="submit" class="btn btn-success" value="Sign up" />

</form>