body {
    margin: 0;
    padding: 0;
    background: #F8F8F8;
}

.invalidFormSubmission {
    font-weight: bold;
    color: darkred;
    font-size: small
}

.lead-no-margin {
    margin: 0;
}

.gear-icon-link {
    text-decoration: none;
    color: dimgray;
}

.gear-icon-link:hover {
    color: cadetblue
}

.agenda-list-item {

}