body {
    margin: 0;
    padding: 0;
    background: #F8F8F8;
    height: 100vh;
    width: 100vw;
}

.invalidFormSubmission {
    font-weight: bold;
    color: darkred;
    font-size: small;
}

.validation-summary ul {
    padding: 5px;
    list-style-type: none;
    color: darkred;
    text-align: center;
}

.lead-no-margin {
    margin: 0;
}

.text-left {
    text-align: left;
}

.card {
    box-shadow: 0 2px #DCDCDC;
}