.agenda-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.agenda-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard-banner {
    background: #f1f1f1;
    color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 0.9;
}

.gear-icon-link {
    text-decoration: none;
    color: dimgray;
}

.gear-icon-link:hover {
    color: cadetblue;
}